<!-- <section class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-content text-center">
                    <h1 class="sub-title">欢迎登录</h1>
                    <h3 class="page-title">登录</h3>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="login-registration-wrapper pt-50 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
                <div class="login-registration-style-3 mt-50">
                    <h4 class="heading-4 font-weight-500 title">帐号登录</h4>
                    <p class="paragraph-small font-weight-300 mt-15">请妥善保管你的帐号和密码，谨防诈骗。</p>
                    <div class="row">
                        <div class="col-md-7">
                            <form action="#" class="has-validation-callback">
                                <div class="single-form form-default">
                                    <label>帐号</label>
                                    <div class="form-input">
                                        <input type="email" placeholder="邮箱/手机号/帐号">
                                        <i class="mdi mdi-email"></i>
                                    </div>
                                </div>
                                <div class="single-form form-default">
                                    <label>密码</label>
                                    <div class="form-input">
                                        <input id="password-11" type="password" placeholder="密码">
                                        <i class="mdi mdi-lock"></i>
                                        <span toggle="#password-11" class="mdi mdi-eye-outline toggle-password"></span>
                                    </div>
                                </div>
                                <a class="forget" href="#">忘记密码 ?</a>
                                <div class="single-form">
                                    <button class="main-btn primary-btn">登录</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-5">
                        <p class="account">第三方帐号登录</p>
                        <ul>
                            <li><a href="#" class="facebook-login-registration"><i class="lni lni-facebook-original"></i> <span>Login with Facebook</span></a></li>
                            <li><a href="#" class="google-login-registration"><img src="assets/images/google-logo.svg" alt=""> <span>Login with Google</span></a></li>
                        </ul>
                        <p class="login">还没有帐号? <a href="/signup">注册</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>