<section class="footer-style-1 pt-50 pb-100">
    <div class="container">
        <div class="footer-top">
            <div class="footer-top-left mt-50">
                <a href="#">
                    <img src="assets/images/logo.svg" alt="">
                </a>
            </div>
            <div class="footer-top-right mt-50">
                <span class="title">Follow Us:</span>
                <ul class="footer-follow">
                    <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                    <li><a href="#"><i class="lni lni-twitter-filled"></i></a></li>
                    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                    <li><a href="#"><i class="lni lni-instagram-original"></i></a></li>
                    <li><a href="#"><i class="lni lni-whatsapp"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-widget-wrapper pt-20">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget">
                        <h5 class="footer-title">PRODUCT</h5>

                        <ul class="footer-link">
                            <li><a href="#">Quest</a></li>
                            <li><a href="#">Rift S</a></li>
                            <li><a href="#">Gear VR</a></li>
                            <li><a href="#">Apps and Games</a></li>
                            <li><a href="#">Apps and Games</a></li>
                            <li><a href="#">Oculus for Business</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget">
                        <h5 class="footer-title">DEVELOPERS</h5>

                        <ul class="footer-link">
                            <li><a href="#">Developer Centre</a></li>
                            <li><a href="#">Docs</a></li>
                            <li><a href="#">Downloads</a></li>
                            <li><a href="#">Tools</a></li>
                            <li><a href="#">Developer Blog</a></li>
                            <li><a href="#">Developer Forums</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget">
                        <h5 class="footer-title">PRODUCT</h5>

                        <ul class="footer-link">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Brand Centre</a></li>
                            <li><a href="#">Connect</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget">
                        <h5 class="footer-title">PRODUCT</h5>

                        <ul class="footer-link">
                            <li><a href="#">VR for Good</a></li>
                            <li><a href="#">Launch Pad</a></li>
                            <li><a href="#">Creators Lab</a></li>
                            <li><a href="#">Forums</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <p>Made with © at <a href="#">GrayGrids</a>. All rights reserved.</p>
        </div>
    </div>
</section>
