<section class="header-style-5">
    <div id="carouselExampleCaptions" class="carousel slide header-5-active" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner draggable">  
            <div class="carousel-item bg_cover single-header active" style="background-image: url('../../../../assets/images/header-1/header-1.jpg');">
                <div class="header-content">
                    <h2 class="title">New style ear protector</h2>
                    <a href="#" class="content-link" tabindex="-1">Explore Shop <i class="mdi mdi-chevron-right"></i></a>
                </div>
            </div>
            <div class="carousel-item bg_cover single-header" style="background-image: url('../../../../assets/images/header-1/header-2.jpg');">
                <div class="header-content">
                    <h2 class="title">New style ear protector</h2>
                    <a href="#" class="content-link" tabindex="-1">Explore Shop <i class="mdi mdi-chevron-right"></i></a>
                </div>
            </div>
            <div class="carousel-item bg_cover single-header" style="background-image: url('../../../../assets/images/header-1/header-3.jpg');">
                <div class="header-content">
                    <h2 class="title">New style ear protector</h2>
                    <a href="#" class="content-link" tabindex="-1">Explore Shop <i class="mdi mdi-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-mini">
        <div class="header-mini-items product-style-13">
            <div class="product-image">
                <img src="../../../../assets/images/product-4/product-1.jpg" alt="product">
            </div>
            <div class="product-content">
                <h4 class="title"><a href="#">品牌闪购</a></h4>
                <p>BRAND SALE更多</p>
                <a href="#" class="main-btn primary-btn"> <img src="../../../../assets/images/icon-svg/cart-7.svg" alt=""> 立即抢购</a>
            </div>
        </div>
        <div class="header-mini-items product-style-13">
            <div class="product-image">
                <img src="../../../../assets/images/product-4/product-1.jpg" alt="product">
            </div>
            <div class="product-content">
                <h4 class="title"><a href="#">双十二会场</a></h4>
                <p>12.12</p>
                <a href="#" class="main-btn primary-btn"> <img src="../../../../assets/images/icon-svg/cart-7.svg" alt=""> 进入会场</a>
            </div>
        </div>
        <div class="header-mini-items product-style-13">
            <div class="product-image">
                <img src="../../../../assets/images/product-4/product-1.jpg" alt="product">
            </div>
            <div class="product-content">
                <h4 class="title"><a href="#">品牌活动</a></h4>
                <p>BRAND ACTIVITY</p>
                <a href="#" class="main-btn primary-btn"> <img src="../../../../assets/images/icon-svg/cart-7.svg" alt=""> 立即抢购</a>
            </div>
        </div>
        <div class="header-mini-items product-style-13">
            <div class="product-image">
                <img src="../../../../assets/images/product-4/product-1.jpg" alt="product">
            </div>
            <div class="product-content">
                <h4 class="title"><a href="#">每日秒杀</a></h4>
                <p>Midnight Black</p>
                <a href="#" class="main-btn primary-btn"> <img src="../../../../assets/images/icon-svg/cart-7.svg" alt=""> 立即抢购</a>
            </div>
        </div>
    </div>
</section>

